*{
margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    margin-top: 100px;
    margin-bottom: 50px;
}
.header__content{
    display: flex;
    flex-wrap: wrap;
}
.header__text{
    width: 600px;
    padding-left: 10px;
}
.header__text h1{
    font-size: 5.6rem;
    font-family: Arial,sans-serif;
    margin-bottom: 20px;
}
.header__text h1 b{
    color: #eb3f28;
    font-weight: 900;
}
.button-link{
    display:inline-block;
    margin-top: 10px;
    padding: 13px 55px 13px 54px;
    background-color:#eb3f28;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 30px/30px;
    font-size: 16px;
}
.button-link:hover{
background-color: #000;
}
.header__text p{
    font-family: 'Roboto',Arial,sans-serif;
    line-height: 2;
    font-size: 18px;
    margin-bottom: 10px;
}
.header__text p a{
    color:currentColor;
}

.header__image{
    width: 500px;
    height: 500px;
    position: relative;
}
.header__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}
.gallery{
    margin-bottom: 50px;
}
.gallery__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery__img-box{
    width: 250px;
    height: 250px;
    background-color: #eb3f28;
    margin: 10px;
    position: relative;
}
.gallery__img-box img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    cursor: pointer;
}
.black-area{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}
.gallery__img-box:hover .black-area{
   opacity: 1;
    visibility: visible;
}
.footer{
    background-color: #2e2e2e;
    padding: 30px 0;

}
.footer__p{
    font-family: sans-serif;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.footer__p a{
    color: #259bca;
}
.footer__p_right{
    margin-top: 10px;
    text-align: right;
    padding: 0 10px;
}
@media (max-width: 1199px){
    .header__text h1 {
        font-size: 5rem;
    }
}
@media (max-width: 1125px) {
    .header__text{
        width: 500px;
        padding: 0 20px;
    }
    .header__image{
        width: 450px;
        height: 450px;
    }
}
@media (max-width: 991px) {
    .header__image{
        width: 400px;
        height: 400px;
    }
    .header__text{
        width: 450px;
    }
}
@media (max-width: 1079px) {
    .gallery__img-box{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 991px){
    .header__text h1 {
        font-size: 4.5rem;
    }

}
@media (max-width: 865px) {
    .header__image{
        width: 300px;
        height: 300px;
    }
    .header__text{
        width: 400px;
    }
}

@media (max-width: 767px){
    .header__text h1 {
        font-size: 5.6rem;
    }
    .header__content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__image{
        height: 500px;
        width: 500px;
        margin-top: 10px;
    }
    .header__text {
        width: 600px;
        padding: 0 10px;
    }
    .gallery__img-box{
        width: 500px;
        height: 500px;
    }
}
@media (max-width: 575px){
    .header__text h1 {
        font-size: 3.75rem;
    }
    .header__image{
        width: 300px;
        height: 300px;
    }
    .header__text{
        width: auto;
        max-width: 500px;
    }
    .header__text p{
        font-size: 14px;
    }
    .gallery__img-box{
        width: 300px;
        height: 300px;
    }
}

